html {
    font-size: 16px;
}

.noChief {
    display: block;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
    height: 40px;
    line-height: 1rem;
}

input {
    font-size: 1rem;
}

#chiefBord {
    display: none;
}